@import "./base.css";
/* @import "element-plus/dist/index.css"; */
html,body{
  width: auto;
  height: auto;
}
#app {
  min-width: 1024px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

