
$pink-avenderr:#CDB4DB;
$orchid-pink:#FFC8DD;
$nadeshiko-pink:#FFAFCC;
$uranian-blue:#BDE0FE;
$baby-blue-eyes:#A2D2FF;

// 文字色
$color-black: #000;
$color-dark: #333;
$color-deep: #666;
$color-pl: #999999;
$color-white: #fff;
// 背景色
$bg-bar: #f9f9f9;
$bg-page: #f3f3f3;
$bg-page-light: #f9f9f9;
// 边框色
$bc-red: #ff3333;
$bc-purple: #ff33a9;
$bc-orange: #ff8833;
$bc-blue: #3377ff;
$bc-peonyPink: lightpink;
$br-weak: #b3b3b3;

$color-red: #ff3333;
$color-purple: #ff33a9;
$color-orange: #ff8833;
$color-blue: #3377ff;
